.calculator {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bg-black;

  @include mediumMobile {
    height: 100vh;
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .calculator__container {
    // max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: $container-box-shadow;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: $primary-bg-color;

    gap: 20px;

    @include mediumMobile {
      width: 100%;
    }

    .displayResult {
      height: 60px;
      width: 320px;
      display: flex;
      align-items: center;

      @include mediumMobile {
        width: 100%;
      }

      .display__value {
        width: 100%;
        height: auto;
        font-size: 25px;
        font-weight: 600;
        color: $text-white;
        text-align: right;
        overflow-x: hidden;
      }
    }

    .row__container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 20px;

      .input__displayValue {
        border: none;
        outline: none;
        width: 100%;
        height: 59px;
        text-align: right;
        background-color: transparent;

        font-size: 14px;
        font-weight: 600;
        color: $text-white;

        padding: 35px 0;
        box-sizing: border-box;
      }

      .input__value {
        width: 65px;
        height: 55px;
        display: flex;

        border: none;
        outline: none;
        background-color: transparent;
        color: $text-white;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: $button-box-shadow;
        border-radius: 5px;

        // &:hover {
        //   background-color: #2c2f3a;
        // }
      }
    }

    .row__container1 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 20px;

      .input__value {
        width: 65px;
        height: 55px;
        display: flex;

        border: none;
        outline: none;
        background-color: transparent;
        color: $text-white;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: $button-box-shadow;
        border-radius: 5px;

        // &:hover {
        //   background-color: #2c2f3a;
        // }
      }
    }

    .row__container1 > :nth-child(3) {
      width: 150px;
      background: $orange-bg;

      // &:hover {
      //   background: green;
      // }
    }
  }
}
